@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/times-new-roman');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: 'DM Sans', sans-serif !important;
		font-feature-settings: 'kern' !important;
		-webkit-font-smoothing: antialiased;
		letter-spacing: -0.5px;
	}
}

input.defaultCheckbox::before {
	content: url(../src/assets/svg/checked.svg);
	color: white;
	opacity: 0;
	height: 16px;
	width: 16px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0px);
}

input:checked.defaultCheckbox::before {
	opacity: 1;
}


/* ---------filters------------- */

.react-datepicker-wrapper svg {
	width: 32px;
	height: 30px;
	top: 50%;
	transform: translateY(-50%);
	right: 0px;
}

.react-datepicker__view-calendar-icon input {
	padding: 5px 32px 5px 7px !important;
}
.double_time_picker .react-datepicker__view-calendar-icon input {
	padding: 0px !important;
}
.filters .react-datepicker-wrapper {
	width: 9.5rem;
}

.filters .react-time-picker__inputGroup {
	min-width: 45px;
}

/* ---------time picker------- */

.react-time-picker__wrapper {
	border: unset !important;
}

.react-time-picker__clear-button {
	display: none;
}

.advance_filter .react-datepicker-wrapper {
	width: 8rem;
}

/* ----------dropdown------ */
.filters .Dropdown-placeholder.is-selected {
	width: 56px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.filters .Dropdown-control {
	font-weight: 400;
	line-height: 30px;
	color: #3B3B3B;
	padding: 5px 41px 5px 7px;
	border: 1px solid rgba(59, 59, 59, 0.1);
	border-radius: 4px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button *,
input[type=number]::-webkit-outer-spin-button * {
	opacity: 1 !important;
	background-color: transparent;
}

.filters input[type=checkbox] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.checkboxFilterOption.nestedFilterCheckbox::before {
	border: 2px solid #000;
}
.checkboxFilterOption.nestedFilterCheckbox::after {
	border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}
.checkboxFilterOption::before {
	content: '';
	width: 14px;
	height: 14px;
	border-radius: 4px;
	border: 2px solid #fff;
	position: absolute;
	right: 9px;
	top: 50%;
	transform: translateY(-50%);
}
.checkboxFilter::after {
	content: '';
    width: 4px;
    height: 8px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}